.game-grid {
  display: grid;
  grid-template-columns: 48px 48px;
  column-gap: 24px;
  row-gap: 24px;
}

.game-grid__bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  background-color: #333;
}

.game-grid__bubble--selected {
  background-color: #FDA214;
}

.game-grid__bubble--revealed {
 background-color: rgb(105, 105, 105);
}
